body {
    background-color: #151515;
    color: #ffffff;
    font-family: "JetBrains Mono", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
input {
    background-color: #002556;
    color: #ffffff;
    width: 50%;
    height: 50px;
    font-size: 50px;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 4px;
    direction: rtl;
    margin-bottom: 10px;
}
#buttons > * {
    background-color: #0849af;
    color: #ffffff;
    width:12%;
    height: 60px;
    font-size: 25px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.backbutton {
    position: relative;
    top: 2px;
}