body {
    background-color: #151515;
    color: #ffffff;
    font-family: "JetBrains Mono", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
input {
    background-color: #002556;
    color: #ffffff;
    width: 80%;
    height: 50px;
    font-size: 50px;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
}
#buttons > * {
    background-color: #0849af;
    color: #ffffff;
    width:19.5%;
    height: 80px;
    font-size: 40px;
    border-radius: 4px;
    margin-bottom: 9px;
}
.backbutton {
    position: relative;
    top: 3px;
}